@import "tailwindcss";

:root {
  --background: #EDEDED;
  --foreground: #343339;
  --border: #CECECE;
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Prata', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border: #555555;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}