@import "tailwindcss";

/* Farbvariablen */
:root {
  --background: #EDEDED;
  --foreground: #343339;
  --border: #CECECE;
  --font-sans: 'Inter', sans-serif;
  /* Verwende Inter als Sans-Serif */
  --font-serif: 'Prata', serif;
  /* Verwende Prata als Serif */
}

/* Dunkler Modus */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border: #555555;
  }
}

/* Überschriften mit Prata */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}